body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: bisque;
  width: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(98, 224, 178);
  width: 300px;
  height: max-content;
  margin: 50px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid black;
  min-height: 60px;
  width: 90%;
  background-color: rgb(203, 223, 223);
  margin: 20px 40px;
}

.display-input {
  font-size: 30px;
}

.display-new-input {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  padding: 0px 5px;
  height: 40px;
  width: 95%;
}

.old-input {
  margin: 2px 20px;
  display: flex;
  justify-content: flex-end;
  height: 20px;
  width: 95%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.top-row {
  width: 100%;
  display: flex;
}

.matrix {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numpad {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: rgb(132, 162, 93);
  margin: 10px 5px;
  flex: 1;
  width: 35px;
}

.button:hover {
  background-color: rgb(100, 123, 70);
}

.fourth-column .extra {
  display: flex;
  background-color: rgb(58, 190, 80);
  height: 78px;
  justify-items: center;
  align-items: center;
}
.fourth-column .extra:hover {
  background-color: rgb(45, 138, 60);
}

.third-column .extra {
  background-color: rgb(200, 65, 65);
}
.third-column .extra:hover {
  background-color: rgb(147, 48, 48);
}

.operator {
  background-color: grey;
}

.operator:hover {
  background-color: rgb(84, 82, 82);
}
